*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 1200px;
}

.container{
    display: flex;
    justify-content: center;
}

.example{
    display: flex;
    justify-content: space-around;

    width: 800px;
    background-color: #D6E9FE;
    margin: 50px 0;
}

.item img{
    display: block;
}

/* RELATIVE POSITION */
.item-relative{
    position: relative;
    top: -30px;
    left: -30px;
}

/* ABSOLUTE POSITION */
.absolute{
    position: relative;
}

.item-absolute{
    position: absolute;
    top: 10px;
    left: 10px;
}

/* FIXED POSITION */
.item-fixed{
    position: fixed;
    right: 0;
    bottom: 0;
}